.homepage-container {
  .ant-col-24 {
    padding-left: 2rem;
    padding-top: 1rem;
  }
}

.ant-col.ant-col-12.buySell-card-container {
  display: flex;
  justify-content: end;
}

.row-homepage {
  background-color: #bcdfea;
  justify-content: center;
  padding-top: 2rem;
}
